@font-face {
    font-family: gandom;
    src: url(../fonts/Gandom.ttf);
  }
body, *{
    font-family: 'gandom';
    direction: rtl
}


.header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0) 70%,rgba(255,255,255,1)), url('../images/background.jpg');
    background-repeat: none;
    background-size: cover;
}



.slider{
    background-color: #fff;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px
}

.slider-item{
    height: 100%;
    
}
.slider-img{
    height: 100%;
    width: 100%;
}
.slide-title{
    font-weight: bold;
    font-size: 50px
}
.slide-session{
    font-weight: bold;
    font-size: 25px
}
.slide-icon{
    height: 3vw;
    width:3vw;
    float: left;
    
}
.slide-intro{
    height: 30%;
    font-size: 15px;
    overflow: hidden
}
.slide-info{
    font-size: 15px;
    color:rgb(150, 150, 150);
    bottom: 0
}

/* .owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -2rem;
}

.owl-next {
  right: -2rem;
} */



/* between 600-1200px */
@media screen and (max-width: 1200px) and (min-width:600px) {
    .slider {
      width: 600px
    }
    .slide-title{
        font-size: 35px
    }
    .slide-session{
        font-size: 20px
    }
    
  }

/* smaller than 600px */
@media (max-width: 600px) {
    .slider {
      width: 100%;
      border-radius: 0
    }
    .slide-title{
        font-size: 20px
    }
    .slide-session{
        font-size: 12px
    }
    .slide-intro{
        font-size: 12px
    }
    .slide-info{
        font-size: 12px
    }

  }
  
  


  /*search box  */
  .search-button{
      color: #6ecff4;
      border:1px solid #6ecff4;
      border-radius: 4px;
      height: 32px
  }
  .seach-box-border{
      border: 1px solid rgb(200, 200, 200);
      box-shadow: 5px 0px 50px -8px rgba(0,0,0,0.75);
  }




  /* movies */
  .cinema-group{
      color: rgb(150, 150, 150);
  }
  .movie-box{
    box-shadow: 0px 8px 33px 0px rgba(0,0,0,0.63);
  }
  .movie-caption{
      font-size: 12px;
      color:rgb(150, 150, 150)
  }

  @media (min-width:1200px){
      .container{
          max-width: 1500px !important;
      }
  }



  